
// REMINDER: filepaths should be relative to the base directory

@font-face {
    font-family: 'pixel';
    src: url('./assets/pixel-font/pixel-font.ttf');
}

@font-face {
    font-family: 'comfortaa-bold';
    src: url('./assets/Comfortaa/static/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'comfortaa-light';
    src: url('./assets/Comfortaa/static/Comfortaa-Light.ttf');
}

@font-face {
    font-family: 'comfortaa-medium';
    src: url('./assets/Comfortaa/static/Comfortaa-Medium.ttf');
}

@font-face {
    font-family: 'comfortaa-regular';
    src: url('./assets/Comfortaa/static/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'comfortaa-semi-bold';
    src: url('./assets/Comfortaa/static/Comfortaa-SemiBold.ttf');
}
