
@mixin header-styles {
    header {
        @content;
    }
}

header {
    padding: 1rem;

    display: flex;
    align-items: center;

    h1 {
        margin: auto;

        font-size: 2rem;
    }
}
