
@mixin header-styles {
    header {
        @content;
    }
}

header {
    padding: 1rem;

    display: flex;
    justify-content: center;

    h1 {
        margin: auto;

        font-family: 'pixel';
        font-size: 2rem;
    }
}
