
@use './book';

@mixin library-styles {
    section#library {
        @content;
    }
}

section#library {
    padding-inline: 6rem;
    padding-block: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.5fr));
    justify-content: center;
    gap: 2rem;

    background-color: white;

    @include book.book-styles;
}