@mixin nav-styles {
    nav {
        @content;
    }
}

nav {
    padding: 1rem;

    display: flex;
    justify-content: center;

    top: 0;
    position: sticky;

    background-color: whitesmoke;

    input,
    .sort-container {
        padding-inline: 1.4rem;
    }
}