@mixin nav-styles {
    nav {
        @content;
    }
}

nav {
    padding: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    position: sticky;

    background-color: whitesmoke;
    
    font-family: 'comfortaa-bold';

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;

    input[type=button] {
        inline-size: 2rem;
        block-size: 2rem;

        margin-inline: 2rem;

        border-radius: 50%;

        color: white;
        background-color: gray;

        font-size: 2rem;
    }

    #sort-container {

        select {
            padding: 0.2rem;
        }
    }
}